Allow webfinger search on forced host

According to the specification : https://tools.ietf.org/html/rfc7033#section-4

The host is not necessary the one on the ressource

For instance, we should be able to : 

GET https://hostONE.com/.well-known/webfinger?ressource=acct:me@hostTWO.com

>  The host to which a WebFinger query is issued is significant.  If the
   query target contains a "host" portion (Section 3.2.2 of RFC 3986),
   then the host to which the WebFinger query is issued **SHOULD** be the
   same as the "host" portion of the query target, **unless the client
   receives instructions through some out-of-band mechanism to send the
   query to another host.**  If the query target does not contain a "host"
   portion, then the client chooses a host to which it directs the query
   using additional information it has.