Redirect uri with regexp mask

Can i set mask for redirect uri ?
Example - i have multilanguage SPA js application, and i need redirect to all 100 langs and dont want add dont want set 100 urls

The OIDC spec explicitly mandates a 'exact' match of the redirect_uri.

In Section 3.2.2.1 it states:

> redirect_uri
    REQUIRED. Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider, with the matching performed as described in Section 6.2.1 of [RFC3986] (Simple String Comparison). When using this flow, the Redirection URI MUST NOT use the http scheme unless the Client is a native application, in which case it MAY use the http: scheme with localhost as the hostname. 

So no. You may not use a regexp there.

But as you need to provide the `redirect_uri` anyway, during the authentication, you can just encode the language in the `state` parameter of your authentication request and dispatch on the client side based on that state.

